# File: .gitignore
# Author: Samuel Lees (sslees)
# Date: 11/05/16
# Class: CPE 458-01
# Assignment: Final Project

public/*
!public/gui.php
resources/
cactus_client
cactus_server
*.sqlite3
*.csv
*.dSYM
